.banner{
	margin: 0;
	padding:0;
	display:flex;
	align-items: center;
	justify-content: center;
	background: url("./../../../../public/images/banner.jpg") no-repeat 0 0;
	background-size: cover;
	height:570px;
	h6{
		margin:0;
		padding:15px;
		display: flex;
		width:100%;
		color:#fff;
		font-size: 32px;
		line-height: 1.6;
		background: rgba(255,255,255,0.1);
		text-align: center;
		i{
			display: contents;
			color: #ffc600;
			font-style: normal;
		}	
	}
}