.leftNav{	
    height: auto;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    display: flex;
    width: 100%;
	flex-direction: column;
	.leftTop{
		margin: 0px;
		padding: 0px;
		display: flex;
		width: 100%;
		flex-direction: column;
		transition: box-shadow 83ms;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		.profileImgWrapper{
			display: flex;
			width: 100%;
			text-align: left;
			background: #f6f7f8;
			padding: 15px 15px 30px;
			flex-wrap: wrap;
			justify-content: center;
			position: relative;
			top: 0;
			left: 0;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);		
		}
		.tabNav{
			margin:0;
			padding:0;
			display:flex;
			width:100%;
			background: #f0fcff;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			ul{
				margin:0;
				padding:0;
				width:100%;
				display: flex;
				list-style: none;
				flex-direction: column;
				li{				
					display: flex;
					height: 42.6px;
					width: 100%;
					justify-items: center;
					align-items: center;
					border-bottom: 1px solid rgba(0, 0, 0, 0.2);
					background-color: transparent;
					font-size: 16px;
					padding: 0 0 0 58px;
					text-decoration: none;
					transition: all 0.5s ease 0s;
					color: #07294d;
					cursor: pointer;
					cursor: pointer;
					position: relative;				
					&:hover {
						color: #fff;
						background-color: #07294d;
						transition: all 0.5s ease 0s;					
					}
					&:before {
						content: "\f007";
						font-family: FontAwesome;
						left: 19px;
						position: absolute;
						font-size: 28px
					}
					&:last-child{
						border-bottom: 0;
						&:hover{
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
						}
					}
				}
				li.active{
					color: #fff;
					background-color: #07294d;
					cursor: default;
					&:last-child{
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
					}
				}
			}
		}
	}
}