.myAccount{
	margin:0;
	padding:0;
	display: flex;
	width: 100%;
	.boxWrapper{
		margin:0;
		padding:0 0 0 30px;
		display: flex;
		width: 100%;
		.box{
			margin:0;
			padding:0;
			display: flex;	
			flex-direction: column;
			width:100%;	
			.titleWrapper{
				margin:0;
				padding:0;
				display: flex;
				width: 100%;
				flex-direction: column;
				h2{
					color: #07294d;
					font-size: 22px;
					font-weight: 600;
					height: auto;
					width: 100%;
					padding-top: 5px;
					position: relative;
					margin-bottom: 30px;
					text-transform: uppercase;
					margin-top: -7px;
					background: transparent;
					font-family: montserrat,sans-serif;					
					&:after {
						width: 45px;
						height: 2px;
						content: "";
						position: absolute;
						top: 36px;
						background: #f0bd00;
						left: 0;
					}
				}
				.subTitle{
					color: #07294d;
					font-size: 16px;
					font-weight: 600;
					height: auto;
					width: 100%;
					padding-top: 5px;
					position: relative;
					margin-bottom: 30px;
					text-transform: initial;
					margin-top: -7px;
					background: transparent;
					padding-left: 0;
					font-family: montserrat,sans-serif;
				}
			}
			.formCtrlWrapper{
				color: #07294d;
				margin: 15px 0 0;
				padding: 0;
				display: flex;
				width: 100%;
				flex-direction: column;
				.staticText{
					margin: 0 0 15px;
					padding: 0;
					display: flex;
					width: 100%;
					flex-direction: column;
					font-size: 16px;
					font-weight: 600;
					span{
						margin: 0;
						padding: 0;
						display: flex;
						width: 100%;
						flex-direction: column;
						font-size: 14px;
						font-weight: 400;
						i{
							content: "\f007";
							font-family: FontAwesome;
							left: 9px;
							position: relative;
							font-size: 18px;
						}
						b{
							margin: 0;
							padding: 0;
							display: flex;
							width: 100%;
						}
					}
				}
				form{
					margin: 15px 0 0;
					padding: 0;
					display: flex;
					width: 100%;
					flex-direction: column;
					.formWrapper{
						margin:0;
						padding:0;
						display: flex;
						width: 100%;
						flex-wrap: wrap;
						.formCtrl{
							margin:0 7.5px 30px;
							padding:0;
							display: flex;
							width: 49%;
							input{
								margin:0;
								padding:7.5px 0;
								display: flex;
								width: 100%;
								height:30px;
								border:0;
								border-bottom:2px solid #d9d9db;
								font-size: 14px;
							}					
							.text{
								flex: initial;
								display: inline-block;
								color: #07294d;
								font-size: 14px;
								font-weight: 400;
								font-family: 'Roboto', sans-serif;
								margin-bottom: 7.5px;
								text-align: left;
							}
							&:nth-child(1){
								margin-left:0;
								max-width: 100%;
								flex: 1 0 100%;
							}
							&:nth-child(2), &:nth-child(4){
								margin-left:0;
							}
							&:nth-child(3), &:nth-child(5){
								margin-right:0;
							}
						}
					}
					.selectOpt{
						padding: 0;
						display: flex;
						width: 100%;
						flex-direction: column;
						label{
							margin: 0 0 3.5px;
							padding: 0;
							display: flex;
							flex-direction: row;
							flex: 1 1;
							color: #b8b5bc;
							font-size: 14px;
							font-weight: 400;
							font-family: 'Roboto', sans-serif;
							input[type="radio"]{
								margin: 0 5.5px 0 0;
								padding: 0;
								width: 15px;
								height: 15px;
								border: 1px solid #d6d4df;
								user-select: none;
								outline: none;
								position: relative;
								top: 2px;
							}
							&:last-child{
								margin-bottom: 0;
							}
						}
						span{
							flex: initial;
							display: inline-block;
							color: #07294d;
							font-size: 14px;
							font-weight: 400;
							font-family: 'Roboto', sans-serif;
							margin-bottom: 7.5px;
						}	
					}
					.linkText{				
						padding:0;
						display:flex;
						width: 100%;
						margin-bottom: 7.5px;					
						span{
							flex:initial;
							display: inline-block;
							color:#0e76a8;
							text-decoration: underline;
							cursor: pointer;
							&:hover{
								text-decoration: none;
							}
						}
					}
					.btnCtrl{
						margin: 15px 0 0;
						padding: 0;
						display: flex;
						width: 100%;
						justify-content: flex-end;
						button{
							margin:0;
							padding:0;
							display: flex;
							width: 200px;
							height: 40px;
							border:0;
							user-select: none;
							outline: none;
							background: #07294d;
							border-radius: 5px;
							color: #fff;
							align-items: center;
							justify-content: center;
							font-size: 16px;
							font-weight: 400;
							font-family: 'Roboto', sans-serif;
						}
					}
				}	
			}			
		}
	}
}