.myStatus{
	margin:0;
	padding:0;
	display: flex;
	width: 100%;
	.boxWrapper{
		margin:0;
		padding:0 0 0 30px;
		display: flex;
		width: 100%;
		.leftBox{
			margin:0 15px 0 0;
			padding:0;
			display: flex;	
			flex-direction: column;
			width:68%;	
			.titleWrapper{
				margin:0;
				padding:0;
				display: flex;
				width: 100%;
				flex-direction: column;
				h2{
					color: #07294d;
					font-size: 22px;
					font-weight: 600;
					height: auto;
					width: 100%;
					padding-top: 5px;
					position: relative;
					margin-bottom: 30px;
					text-transform: uppercase;
					margin-top: -7px;
					background: transparent;
					font-family: montserrat,sans-serif;					
					&:after {
						width: 45px;
						height: 2px;
						content: "";
						position: absolute;
						top: 36px;
						background: #f0bd00;
						left: 0;
					}
				}
				.subTitle{
					color: #07294d;
					font-size: 16px;
					font-weight: 600;
					height: auto;
					width: 100%;
					padding-top: 5px;
					position: relative;
					margin-bottom: 30px;
					text-transform: initial;
					margin-top: -7px;
					background: transparent;
					padding-left: 0;
					font-family: montserrat,sans-serif;
				}
			}
			.card{
				display: flex;
				width: 100%;
				text-align: left;
				background: #fff;
				margin: 0 0 30px 0;
				padding: 0 0 30px;
				flex-wrap: wrap;
				justify-content: center;
				border-radius: 10px;
				border:1px solid #f6f7f8;
				box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.1);
				transition: all 1s ease;
				h4{
					margin: 0 0 15px;
					padding: 12px 15px;
					display: flex;
					width: 100%;
					background: #f6f7f8;
					color: #07294d;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					font-size: 18px;
					text-transform: uppercase;
				}
				p{
					margin: 0 0 7.5px;
					padding: 0 15px;
					display: flex;
					width: 100%;
					color: #07294d;
					font-size: 14px;
					&:last-child{
						margin-bottom:0;
					}
				}
				&:hover{
					box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.3);   
					transition: all .5s ease-in;
				}
			}
		}
		.rightBox{
			margin:0 0 0 15px;
			padding:0;
			display: flex;	
			flex-direction: column;
			width:32%;
			.card{
				display: flex;
				width: 100%;
				text-align: left;
				background: #fff;
				margin: 0 0 15px;
				padding: 0 0 15px;
				flex-wrap: wrap;
				justify-content: center;				
				transition: box-shadow 83ms;
    			box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);				
				h4{
					margin: 0 0 15px;
					padding: 12px 15px;
					display: flex;
					width: 100%;
					background: #e9e9e9;
					color: #07294d;					
					font-size: 18px;
					text-transform: uppercase;
				}
				p{
					margin: 0 0 7.5px;
					padding: 0 15px;
					display: flex;
					width: 100%;
					color: #07294d;
					font-size: 14px;
					&:last-child{
						margin-bottom:0;
					}					
				}
				.imgWrapper1{
					margin: 0 0 0 15px;
					padding: 0;
					display: flex;
					width: 219px;
					background: url('./../../../public/images/ads.png') no-repeat 0 0;
					background-size: 100%;
					height: 186px;
				}
				.imgWrapper2{
					margin: 0 0 0 15px;
					padding:0;
					display: flex;
					width:226px;
					background: url('./../../../public/images/ads2.png') no-repeat 0 0;
					background-size: 100%;
					height: 115px;
				}
				.imgWrapper{
					margin:0;
					padding:0;
					display: flex;	
					flex-direction: column;
					width:100%;
					align-items: center;
					justify-content: center;
					span{
						margin: 7.5px 0;
						padding: 0;
						display: flex;
						flex-direction: column;
						width: 200px;
						height: 84px;
						color: #ffc600;
						box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
						align-items: center;
						justify-content: center;
					}
					span.clogo1{
						background: url('./../../../public//images/clogo1.png') no-repeat 0 0;
						background-size: cover;
					}
					span.clogo2{
						background: url('./../../../public//images/clogo2.png') no-repeat 0 0;
						background-size: cover;
					}
					span.clogo3{
						background: url('./../../../public//images/clogo3.png') no-repeat 0 0;
						background-size: cover;
					}
				}			
			}
			.card.justifyContent{
				justify-content: flex-start;
			}	
		}
	}
}