.titleWrapper{
	margin:0;
	padding:0 0 0 30px;
	display: flex;
	width: 100%;
	flex-direction: column;
	h2{
		color: #07294d;
		font-size: 22px;
		font-weight: 600;
		height: auto;
		width: 100%;
		padding-top: 5px;
		position: relative;
		margin-bottom: 30px;
		text-transform: uppercase;
		margin-top: -7px;
		background: transparent;
		font-family: montserrat,sans-serif;					
		&:after {
			width: 45px;
			height: 2px;
			content: "";
			position: absolute;
			top: 36px;
			background: #f0bd00;
			left: 0;
		}
	}
	.subTitle{
		color: #07294d;
		font-size: 16px;
		font-weight: 600;
		height: auto;
		width: 100%;
		padding-top: 5px;
		position: relative;
		margin-bottom: 30px;
		text-transform: initial;
		margin-top: -7px;
		background: transparent;
		padding-left: 0;
		font-family: montserrat,sans-serif;
		i{
			margin: 0 2px;
			font-style: normal;
			color: #ffc600;
			font-weight: 600;
			text-decoration: underline;
			cursor: pointer;
			font-size: 16px;
			&:hover{
				text-decoration:none;
			}
		}
	}
}
.notifications{
	margin: 0 0 0 30px;
    padding: 0;
    display: flex;
    transition: box-shadow 83ms;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
	ul {
		margin: 0;
		padding: 0;
		flex-wrap: wrap;
		width: 100%;
		list-style: none;
		li {
			margin: 0;
			padding: 12px 7.5px 12px 15px;
			flex-basis: 100%;
			display: flex;
			border-bottom: 1px solid #f7f7f7;
			font-size: 13px;
			justify-content: center;
			.logo{
				margin: 0;
				padding: 0;
				width: 50px;
				height: 50px;
				display: flex;				
			}
			.logo.nlogo1{									
				background: url('./../../../public/images/0.png') no-repeat 0 0;
				background-size: 100%;
			}
			.logo.nlogo2{									
				background: url('./../../../public/images/1.jpeg') no-repeat 0 0;
				background-size: 100%;
			}
			.logo.nlogo3{									
				background: url('./../../../public/images/3.jpeg') no-repeat 0 0;
				background-size: 100%;
			}
			.content{
				margin: 0;
				padding: 0 15px;
				flex: 1 1;
				display: flex;
				flex-direction: column;
				p{
					margin: 0;
					padding: 0;
					display: flex;
					width: 100%;
					flex-direction: column;
					font-weight: 400;
					text-transform: initial;
					font-size: 14px;
					color: #797777;	
					i{
						font-style: normal;
						font-weight: 600;
						display: contents;
					}					
				}
				span{
					font-size: 14px;
					font-weight: 600;
					line-height: 1.3;
					text-transform: uppercase;				color: #797777;
				}
			}
			.settingsDays{
				margin: 0;
				padding: 0;
				width: 42px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				i{
					font-style: normal;
					display: flex;
					width: 100%;
					justify-content: center;
					color: #797777;
				}
			}
			/* button {
				border: 0;
				width: 100%;
				cursor: pointer;
				display: flex;
				padding: 0 15px;
				height: 30px;
				display: flex;
				align-items: center;
				font-weight: 600;
			} */					
		}
		li.newNotification{
			background: #f0fcff;
		}
	}
}