.profileContentPos {
    position: relative;
    top: 0;
	left: 0;
	.profileContent{
		display: flex;
		width: 100%;
		text-align: left;
		padding: 15px 0 0;
		flex-wrap: wrap;
		justify-content: center;
		.profileContentWrapper{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.imgWrapper {
				float: none;
				margin: 0 auto;
				border-radius: 50%;
				width: 140px;
				height: 140px;
				display: block;
				position: relative;
				background: url('./../../../public/images/profileImg.png') no-repeat 0 0;
				background-size: cover;
				.fileuploadBg {
					position: absolute;
					border-radius: 50%;
					width: 140px;
					height: 140px;
					background: rgba(0,0,0,0.78);
					z-index: 9;
					top: 0;
					left: 0;
					opacity: 0;
					visibility: hidden;
					-webkit-transform: scale(0.5);
					-moz-transform: scale(0.5);
					-ms-transform: scale(0.5);
					transform: scale(0.5);
					-webkit-transition: all 0.5s ease-in;
					-moz-transition: all 0.5s ease-in;
					transition: all 0.5s ease-in;
					label {
						font-size: 13px;
						color: #fff;
						text-align: center;
						position: absolute;
						background-color: rgba(137,57,150,0.7);
						z-index: 10;
						top: 50%;
						left: 50%;
						padding: 8px 10px;
						border-radius: 20px;
						height: 46px;
						width: 120px;
						line-height: 1.2;
						margin-left: -60px;
						margin-top: -23px;
						cursor: pointer;
						font-weight: 400;
						input[type="file"] {
							position: absolute;
							z-index: 9;
							width: 10px;
							top: 0;
							opacity: 0;
							cursor: pointer;
							display: block;
						}
					}
				}
				img {			
					margin: 0;
					border-radius: 50%;
					width: 140px;
					height: 140px;
					display: block;
					border: 0;
					outline: none;
				}
				&:hover{
					.fileuploadBg {
						width: 140px;
						height: 140px;
						-webkit-transform: scale(1);
						-moz-transform: scale(1);
						-ms-transform: scale(1);
						transform: scale(1);
						-webkit-transition: all 0.5s ease-in;
						-moz-transition: all 0.5s ease-in;
						transition: all 0.5s ease-in;
						opacity: 1;
						visibility: visible
					}
				}
			}
			.attentionWrapper{
				display: flex;
				width: 100%;
				flex-wrap: wrap;
				h1 {
					text-align: center;
					font-weight: 600;
					font-size: 16px;
					display: flex;
					justify-content: center;
					word-break: break-all;
					width: 100%;
					margin: 20px 0 5px;
					color: #000;
				}
				button {
					margin: 0;
					padding: 0;
					display: flex;
					width: 100%;
					height: 40px;
					border: 0;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					outline: none;
					background: transparent;
					border-radius: 5px;
					align-items: center;
					justify-content: center;
					font-size: 16px;
					font-weight: 400;
					font-family: 'Roboto', sans-serif;
					color: #07294d;
					text-decoration:underline;
					&:hover{
						text-decoration: none;
					}
				}		
			}
		}		
	}
}
