.authWrapper{
	margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
	.authBox{
		flex:1;
		height:100%;
		font-size: 12px;
		font-family: montserrat,sans-serif;
		p{
			margin: 0;
			padding: 0 30px;
			display: flex;
			width: 100%;
			color: #fff;
			line-height: 1.6;
		}
		.socialBtnWrapper{
			margin: 30px 0 0;
			padding: 0;
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: center;
			button{
				margin: 0 0 12px 0;
				padding: 0;
				display: flex;
				width: 168px;
				height:30px;
				border: 0;
				user-select: none;
				outline: none;
				border-radius: 5px;
				color: #fff;
				align-items: center;
				justify-content: center;
				&:last-child{
					margin-bottom:0;
				}
				i{
					margin-right:4.5px
				}
			}
			.facebook{
				background: #3b5999;
			}
			.google{
				background: #c32e10;
			}
			.linkedin{
				background: #0e76a8;
			}
		}
		&:first-child{
			background: #07294d;
			width: 230px;
			flex: inherit;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}