.signUpWrapper{
	margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
	.formWrapper{
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		font-family: montserrat,sans-serif;
		align-items: center;
		justify-content: center;
		p{
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			font-size: 20px;
			color: #07294d;
			text-align: center;
			font-weight: 800;			
		}
		.formCtrlWrapper{
			color: #07294d;
			margin: 15px 0 0;
			padding: 0 30px;
			display: flex;
			width: 100%;
			form{
				margin:0;
				padding:0;
				display: flex;
				width: 100%;
				flex-direction: column;
				.formCtrl{
					margin:0 0 15px;
					padding:0;
					display: flex;
					width: 100%;
					position: relative;
					input{
						margin:0;
						padding:7.5px 0;
						display: flex;
						width: 100%;
						height:30px;
						border:0;
						border-bottom:2px solid #d9d9db;
						font-size: 14px;
					}					
					button{
						margin:0;
						padding:0;
						display: flex;
						width: 100%;
						height: 40px;
						border:0;
						user-select: none;
						outline: none;
						background: #07294d;
						border-radius: 5px;
						color: #fff;
						align-items: center;
						justify-content: center;
						font-size: 16px;
						font-weight: 400;
						font-family: 'Roboto', sans-serif;
					}
					.text{
						flex: initial;
						display: inline-block;
						color: #07294d;
						font-size: 14px;
						font-weight: 400;
						font-family: 'Roboto', sans-serif;
						margin-bottom: 7.5px;
						text-align: left;
					}
				}
				.selectOpt{
					padding: 0;
					display: flex;
					width: 100%;
					flex-direction: column;
					label{
						margin: 0 0 3.5px;
						padding: 0;
						display: flex;
						flex-direction: row;
						flex: 1 1;
						color: #b8b5bc;
						font-size: 14px;
						font-weight: 400;
						font-family: 'Roboto', sans-serif;
						input[type="radio"]{
							margin: 0 5.5px 0 0;
							padding: 0;
							width: 15px;
							height: 15px;
							border: 1px solid #d6d4df;
							user-select: none;
							outline: none;
							position: relative;
							top: 2px;
						}
						&:last-child{
							margin-bottom: 0;
						}
					}
					span{
						flex: initial;
						display: inline-block;
						color: #07294d;
						font-size: 14px;
						font-weight: 400;
						font-family: 'Roboto', sans-serif;
						margin-bottom: 7.5px;
					}	
				}
				.linkText{				
					padding:0;
					display:flex;
					width: 100%;
					margin-bottom: 7.5px;					
					span{
						flex:initial;
						display: inline-block;
						color:#0e76a8;
						text-decoration: underline;
						cursor: pointer;
						&:hover{
							text-decoration: none;
						}
					}
				}
			}	
		}
	}
}