.overLay{
	position: fixed;
	margin:0;
	padding:0;
	left:0;
	top:0;
	z-index: 2;
	width:100%;
	height:100%;
	background-color: rgba(17, 20, 35, 0.75);	
}
.modelWindow{
	position: fixed;	
	width:600px;
	height:394px;
	background:#fff;
	box-shadow: 0px 14px 30px rgba(0,0,0,0.4);
	z-index: 2;
	left: -50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all .4s linear;
	overflow: hidden;
	.closeModelWindow{
		position: absolute;
		top: -43px;
    	left: -42px;
		color: #07294d;
		font-size: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;		
		width: 0;
		height: 0;
		border-left: 70px solid transparent;
		border-right: 70px solid transparent;
		border-bottom: 70px solid #fff;
		transform: rotate(90deg);
		i{
			position: relative;
			left: 26px;
			top: 48px;
			cursor: pointer;
		}
	}
}
.modelWindow.modelHeight{
	height:550px
}
.modelWindow.ani{
	left:50%;
	transition: all .4s linear;
}