.commonHeader {
  position:relative;
  top: 0;
  z-index:1;
  background:#fff;
  display: flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;
  .headerTop {
    background-color: #07294d;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    .headerContact{
      margin:0;
      padding:0;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content:flex-end;
      ul{
        margin:0;
        padding:0;
        list-style: none;
        display: flex;
        flex-direction: row;
        li{
          margin:0;
          padding:0;
          display:flex;         
          span {
            color: #dee2e6;
            font-size: 15px;
            font-weight: 400;
            margin-left: 10px;
          }
          &:first-child{
            margin-right: 45px; 
            position: relative;
            &:before{
              content: "";
              position: absolute;
              top: 2px;
              left: -25px;
              width: 27px;
              height: 18px;
              background: url("./../../../public/images/spriteImg.png") no-repeat;
              background-position: -1px -51px;
            }         
          }
          &:last-child{ 
            position: relative;          
            &:before{
              content: "";
              position: absolute;
              top: 2px;
              left: -25px;
              width: 27px;
              height: 18px;
              background: url("./../../../public/images/spriteImg.png") no-repeat;
              background-position: -6px 0;
            } 
          }
        }
      }
    }    
  }
  .headerLogoSupport {
    border-bottom: 1px solid #cecece;
    margin:0;
    padding:15px 0;    
    width: 100%;
    .spaceBetween{
      display: flex;
      align-items: center;
      justify-content: space-between; 
      .logo{
        margin:0;
        padding: 0;
        img{
          width: 288px;
        }
      }
      .supportButton{
        display: flex;
        align-items: flex-start;
        margin-top: 7px;      
        .support{
          display: flex;
          width:100%;
          .cont {
            margin-left: 15px;
            margin-top: -2px;
            display: flex;
            width:100%;
            flex-direction: column;
            position: relative;
            &:before{
              content: "";
              position: absolute;
              top: 0;
              left: -52px;
              width: 42px;
              height: 40px;
              background: url("./../../../public/images/spriteImg.png") no-repeat;
              background-position: -1px -110px;
            }
            p {
              font-size: 13px;
              color: #8a8a8a;
              line-height: 18px;
              margin: 0;
              font-weight: 400;
            }
            span {
              font-size: 18px;
              color: #07294d;
              font-family: montserrat,sans-serif;
              font-weight: 700;
            }
          }
        }
        .button {
          margin-left: 45px;
          .authBtn {
            display:flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;         
            user-select: none;
            border: 1px solid #ffc600;
            padding: 7.5px 15px;
            font-size: 16px;
            font-family: montserrat,sans-serif;
            font-weight: 700;         
            border-radius: 5px;
            color: #07294d;
            cursor: pointer;         
            -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
            background-color: #ffc600;
            border:0;
            user-select: none;
            outline: none;
            &:hover {
              color: #ffc600;
              border-color: #07294d;
              background-color: #07294d;
            }
          }
        }
      }  
    }
    
  }

  .navigation { 
    margin:0;
    padding:0;  
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    nav{
      margin:0;
      padding:0;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content:flex-end;
      ul{
        margin:0;
        padding:0;
        list-style: none;
        display: flex;
        flex-direction: row;
        li{
          margin:0 40px 0 0;
          padding:0;
          display:flex;         
          a {
            font-size: 14px;
            font-family: montserrat,sans-serif;
            font-weight: 700;
            color: #07294d;
            text-transform: uppercase;
            transition: all .4s linear;
            padding: 25px 0;
            text-decoration: none;
            &:hover{
              color: #ffc600;
            }
          }
          &:last-child{
            margin-right:0;
          }
        }
        li.active{
          a{
            color: #ffc600;
          }
        }
      }
    }    
  }  
}

