.myprofileHeader {
	position:relative;
	top: 0;
	z-index:1;
	background:#fff;
	display: flex;
	flex-direction: column;
	padding-right: 0;
	padding-left: 0;
	.headerWrapper {
		background-color: #07294d;
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		width: 100%;
		height: 65px;
		-webkit-box-shadow: 3px 0 5px rgba(0,0,0,.5);
		-moz-box-shadow: 3px 0 5px rgba(0,0,0,.5);
		-ms-box-shadow: 3px 0 5px rgba(0,0,0,.5);
		-o-box-shadow: 3px 0 5px rgba(0,0,0,.5);
		box-shadow: 3px 0 5px rgba(0,0,0,.5);
		.spaceBetween{
			display: flex;
			align-items: center;
			justify-content: space-between; 
			.logo{
				margin:0;
				padding: 0;
				img{
					width: 160px;
					cursor: pointer;
				}
			}
			.navWrapper{
				margin:0;
				padding:0;
				display: flex;
				width: auto;
				justify-content:flex-end;
				nav {
					margin: 0;
					padding: 0;
					display: flex;
					ul{
						list-style: none;
						margin: 0;
						padding: 0;
						display: flex;
						li{
							cursor: pointer;
							padding: 16px 14px;
							letter-spacing: 1px;							
							a {
								font-weight: 400;
								text-decoration: none;
								position: relative;
							}	
						}
						li.homeIcon {							
							padding: 0;
							cursor: pointer;
							margin-right: 30px;
							.home {
								font-weight: 400;
								text-decoration: none;
								position: relative;
								left: 1px;
								top: 9px;
								font-size: 30px;
								color: #fff;
								&:before {
									content: "\f015";
									font-family: FontAwesome;
								}								
							}
						}
						li.notificationCell {							
							padding: 0;
							position: relative;
							cursor: pointer;
							.notification {
								font-weight: 400;
								text-decoration: none;
								position: relative;
								left: 1px;
								top: 15px;
								font-size: 24px;
								color: #fff;
								&:before {
									content: "\f0a2";
									font-family: FontAwesome;
								}
								i {
									position: absolute;
									top: -8px;
									right: -5px;
									width: 20px;
									height: 20px;
									font-size: 14px;
									border-radius: 50%;
									font-weight: 600;
									padding: 0;
									background: #fff;
									color: #07294d;
									font-style: normal;
									display: flex;
									align-items: center;
									justify-content: center;
								}
							}
							.dropMenu {
								margin: 0;
								padding: 0;
								position: absolute;
								display: none;
								background: #fff;
								top: 64px;
								right: -20px;
								width: 403px;
								z-index: 1;
								box-shadow: 0 4px 10px 1px rgba(0,0,0,.2);
								ul {
									margin: 0;
									padding: 0;
									flex-wrap: wrap;
									width: 100%;
									list-style: none;							
									li {
										margin: 0;
										padding: 12px 7.5px 12px 15px;
										flex-basis: 100%;
										display: flex;
										border-bottom: 1px solid #f7f7f7;
										font-size: 13px;
										justify-content: center;
										.logo{
											margin: 0;
											padding: 0;
											width: 50px;
											height: 50px;
											display: flex;				
										}
										.logo.nlogo1{									
											background: url('./../../../public/images/0.png') no-repeat 0 0;
											background-size: 100%;
										}
										.logo.nlogo2{									
											background: url('./../../../public/images/1.jpeg') no-repeat 0 0;
											background-size: 100%;
										}
										.logo.nlogo3{									
											background: url('./../../../public/images/3.jpeg') no-repeat 0 0;
											background-size: 100%;
										}
										.content{
											margin: 0;
											padding: 0 15px;
											flex: 1 1;
											display: flex;
											flex-direction: column;
											p{
												margin: 0;
												padding: 0;
												display: flex;
												width: 100%;
												flex-direction: column;
												font-weight: 400;
												text-transform: initial;
												font-size: 12px;
												color: #797777;	
												i{
													font-style: normal;
													font-weight: 600;
													display: contents;
												}					
											}
											span{
												font-size: 13px;
												font-weight: 600;
												line-height: 1.3;
												text-transform: uppercase;				color: #797777;
											}
										}
										.settingsDays{
											margin: 0;
											padding: 0;
											width: 42px;
											display: flex;
											flex-wrap: wrap;
											justify-content: center;
											i{
												font-style: normal;
												display: flex;
												width: 100%;
												justify-content: center;
												color: #797777;
											}
										}
										/* button {
											border: 0;
											width: 100%;
											cursor: pointer;
											display: flex;
											padding: 0 15px;
											height: 30px;
											display: flex;
											align-items: center;
											font-weight: 600;
										} */					
									}
								}
								.moreNotification{
									margin: 0;
									padding: 7.5px;
									display: flex;
									width: 100%;
									align-items: center;
									justify-content: center;		
									i{
										color: #07294d;
										text-decoration: underline;
										font-style: normal;
										&:hover{
											text-decoration: none;
										}
									}
								}
							}
							&:hover{
								.dropMenu{
									display: block;
								}
							}
						}						
						li.userNav {
							margin-left: 15px;
							position: relative;
							cursor: pointer;
							.faUser{
								position: relative;
								left: 1px;
								border:1px solid #fff;
								background: #0f4884;
								color:#fff;
								display: flex;
								align-items: center;
								justify-content: center;
								width: 32px;
								height: 32px;
								border-radius: 50%;
								font-style: normal;
								&:before{
									content: "\f007";
									font-family: FontAwesome;
									left: 9px;
									position: absolute;
									font-size: 18px;
								}
								&:after {
									content: "\F0D7";
									position: absolute;
									right: -21px;
									top: 9px;
									display: inline-block;
									font: normal normal normal 16px/1 FontAwesome;
									font-size: inherit;
									text-rendering: auto;
									-webkit-font-smoothing: antialiased;
								}
							}
							.dropMenu {
								margin: 0;
								padding: 0;
								position: absolute;
								display: none;
								background: #fff;
								top: 64px;
								right: -20px;
								width: 116px;
								z-index: 1;
								transition: all .5s ease;
								ul {
									margin: 0;
									padding: 0;
									flex-wrap: wrap;
									width: 100%;
									list-style: none;
									box-shadow: 0 4px 10px 1px rgba(0,0,0,.2);
									li {
										margin: 0;
										padding: 0;
										flex-basis: 100%;
										display: block;
										transition: all .5s ease;
										border-bottom: 1px solid #f7f7f7;
										a, span {
											text-decoration: none;
											flex-basis: 100%;
											display: flex;
											padding: 0 15px;
											color: #07294d;
											height: 30px;
											display: flex;
											align-items: center;
											cursor: pointer;
											text-decoration: none;
										}
										button {
											border: 0;
											width: 100%;
											cursor: pointer;
											display: flex;
											padding: 0 15px;
											height: 30px;
											display: flex;
											align-items: center;
											font-weight: 600;
										}
										&:hover {
											background: #07294d;		
											transition: all .5s ease;
											span{
												color:#fff;
											}
											button{
												color:#07294d;
											}
										}										
									}
								}
							}
							&:hover{
								.dropMenu{
									display: block;
								}
							}
						}
					}
				}
				
			} 
		}   
	}
	 
}
  
  