@import '../node_modules/normalize.css/normalize.css';

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #fff;
  color: #333;
  overflow-x: hidden;
  font-style: normal;
  letter-spacing: 0.6px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  display: block;  
}
body.scrollDisable {
  overflow: scroll;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #f0bd00;
  outline: 1px solid #5f6189;
}

.header.transparent {
  position: absolute;
  z-index: 4;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  background: transparent;
}
a {
	color: #4E4E91;
	text-decoration: none;
}
a:hover, a:focus {
	color: #4E4E91;
	text-decoration: underline;
}
i.fa-user, i.fa-lock {
    margin-right: 5px;
    font-size: 14px;
}

.hidden {
  display: none !important;
}
.lightGrayBg {
  background: rgba(0,0,0,0.03);
}
.grayBg {
  background: #ececec;
}

::-webkit-input-placeholder { /* Edge */
	color: #b8b5bc;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #b8b5bc;
  }
  
  ::placeholder {
	color: #b8b5bc;
  }
  input, textarea, button{
    outline: none;
    user-select: none;
  }

  /* Change the white to any color ;) */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

.fa-mortar-board:before, .fa-graduation-cap:before{
  content:"\f19d"
}
.fa-rupee:before, .fa-inr:before {
  content: "\f156";
}
.fa-group:before, .fa-users:before {
  content: "\f0c0";
}

/* Buttons Color Class */
input.primaryBtnBlue, button.primaryBtnBlue{
  background: #4e4e91;
  color:#fff;
  background-color: #4e4e91;
}


/* button themes */
/* transparent */
a.blue-o, input.blue-o, button.blue-o{
  background: transparent;
  color:#4E4E91;
  border-color: #4E4E91;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
}
a.blue-o:hover, input.blue-o:hover, button.blue-o:hover{
  background: #4E4E91;
  color:#fff;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
}
a.orange-o, input.orange-o, button.orange-o{
  background: transparent;
  color:#FC9101;
  border-color: #FC9101;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
}
a.orange-o:hover, input.orange-o:hover, button.orange-o:hover{
  background: #FC9101;
  color:#fff;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
}

a.green-o, input.green-o, button.green-o{
  background: transparent;
  color:#116B1A;
  border-color: #116B1A;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
}
a.green-o:hover, input.green-o:hover, button.green-o:hover{
  background: #116B1A;
  color:#fff;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
}
/* Solid */
a.blue, input.blue, button.blue{
  background: #4E4E91;
  color:#fff;
  border-color: #4E4E91;
}
a.orange, input.orange, button.orange{
  background: #FC9101;
  color:#fff;
  border-color: #FC9101;
}
a.green, input.green, button.green{
  background: #116B1A;
  color:#fff;
  border-color: #116B1A;
}

/* plus and minus symbol */
.plus {
  display:inline-block;
  width:50px;
  height:50px;  
  background: linear-gradient(#fff,#fff), linear-gradient(#fff,#fff);
  background-position:center;
  background-size: 50% 2px,2px 50%;
  background-repeat:no-repeat;
  margin:0;
  padding:0;
}

/* Normal top banner no backgroung banner */
.bannerWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
.bannerWrapper a{
 cursor: pointer;
 width:100%;
}
.bannerWrapper img {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: auto;
}

/* Thumbler Theme */
.bottomarrow-thumbler {
  background-color: rgba(253,183,1,0.7);
  font-size: 25px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  bottom: -90px;
  right: 52px;
  position: fixed;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 1
}

.bottomarrow-thumbler:before {
  position: absolute;
  left: 11px;
  top: 10px
}

.bottomarrow-thumbler.ani {
  bottom: 43px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease
}

@media screen and (max-width: 1280px) {
  .bottomarrow-thumbler {
      right:52px
  }
}

@media screen and (max-width: 1080px) {
  .bottomarrow-thumbler {
      right:52px
  }
}

@media screen and (max-width: 992px) {
  .bottomarrow-thumbler {
      right:20px
  }
}

.bottomarrow-thumbler:hover {
  background-color: #fdb701;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease
}

@media screen and (max-width: 800px) {
  .bottomarrow-thumbler.ani {
      bottom:100px
  }
}

@media screen and (max-width: 737px) {
  .bottomarrow-thumbler.ani {
      bottom:72px
  }
}

@media screen and (max-width: 582px) {
  .bottomarrow-thumbler.ani {
      bottom:85px
  }
}

@media screen and (max-width: 331px) {
  .bottomarrow-thumbler.ani {
      bottom:81px;
      right: 10px
  }
}

/*  loading-bar-spinner theme */
.loader-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999991;
  background: rgb(255, 255, 255, 0.1);
  left: 0;
  top: 0;
}

.loader-overlay #loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 999992;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

.loader-overlay #loading-bar-spinner .spinner-icon {
  border: solid 2px transparent;
  width: 30px;
  height: 30px;
  border-top-color: #fdb701;
  border-left-color: #fdb701;
  border-radius: 50%;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-home:before {
  content: "\f015";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-phone:before {
  content: "\f095";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d";
}
.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-eye{
  position: absolute;
  bottom: 12px;
  right: 0;
  cursor: pointer;
}
.fa-eye:before {
  content: "\f06e";
}
.fa-home:before {
  content: "\f015";
}
.fa-angle-up:before {
  content: "\f106";
}

i.fa-search.qna {
  font-size: 32px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
@media screen and (max-width:568px){
  i.fa-search.qna {
    font-size: 24px;
  }
}
i.fa-search.scholarshipQna {
  font-size: 28px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
i.fa-search.searchIcon {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
@media screen and (max-width:568px){
  i.fa-search.searchIcon {
    font-size: 24px;
  }
}
.fa-search:before {
  content: "\f002";
}

i.fa-comment {
  font-size: 14px;
  color: #000;
  transform: rotateY(-180deg);
  margin-right: 5.5px;
}
i.fa-comment.font20 {
  font-size: 20px;
}
i.fa-comment.font17 {
  font-size: 17px;
}
.fa-comment:before {
  content: "\f075";
}

i.fa-arrow-left {
  margin:0;
  padding:0;
  font-size: 32px;
  color: #000;
  cursor: pointer;
}
.fa-arrow-left:before {
  content: "\f060";
}

.fa-filter{
  margin-right:5.5px;
}
.fa-filter:before {
  content: "\f0b0";
}
i.fa-angle-down{
  margin-right:5.5px
}
.fa-share-alt{
  font-size: 20px;
    cursor: pointer;
}
.fa-share-alt.sharedTheme {
  font-size: 26px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: -34px;
  font-weight: 400;
}
.fa-pencil-square-o.editTheme {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: -16px;  
}
.fa-comments{
  color:#fdb701;
  font-size: 24px;
}

.fa-download, .fa-trash{
  font-size: 22px;;
}

/* Default Error validation message theme */

.error {
  display: flex;
  width: 100%;
  color: #ff3f3f;
  font-size: 12px;
  text-align: right;
  justify-content: flex-end;
  position: relative;
  bottom: -3px;
  right: 0;
  height:0;
}
.error.errortext{
	bottom:20px !important;
}
.errorac{
  justify-content: flex-start !important;
}
input[type="button"], input[type="submit"], input[type="reset"], button, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, button:focus{
  outline: none;
  user-select: none;
}

.btn-76, .btn-12{
  margin:0 auto;
  text-decoration:none; 
}
.btn-76:hover{
  text-decoration: none;
}
#donateButton .bannerBtn .im-checkout{
  /* max-width: 240px !important;
  margin: 15px auto !important; */
  position: inherit;
  top: initial;
  color: inherit;
  text-align: inherit;
  padding: inherit;
  align-items: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  text-decoration: inherit;
  transition: all .5s ease;
  font-size: inherit;
  font-weight: inherit;
  transform: inherit;
  z-index: inherit;
  cursor: inherit;
  outline: none;
  user-select: none;
  right: inherit;
  background: #4e4e91;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  padding:10px 15px;
  padding-top: 20px !important;
}

.watchvideo {
  background: #4e4e91;
  border-radius: 30px;
  height: 50px;
  background:#4e4e91;
			border:2px solid #ffffff;
			padding:15px;
			border-radius:100px;
			color:#ffffff !important;
			padding:10px 30px 13px;
			text-decoration:none;
			height: 50px;
      list-style: 50px;
      margin-left:20px;
      line-height: 25px;
}

#donateButton .bannerBtn .im-checkout .im-checkout-btn.btn--default{
  background: inherit;
  border: 0;
  padding: inherit;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  margin-top: 0;
  text-decoration: none;
  line-height: 50px;
}

.im-checkout{
  position: fixed;
    top: 44%;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10.5px 15.5px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: none;
    transition: all .5s ease;
    font-size: 16px;
    font-weight: 600;
    transform: rotate(-90deg);
    z-index: 1;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: -70px;
    background: #4e4e91;
    max-width: 240px !important;  
}
.im-checkout-btn.btn--default {
  color: #fff !important;
  background: transparent !important;
  letter-spacing: inherit !important;
  padding: inherit !important;
  margin: inherit !important;
  opacity: inherit !important;
  border-radius: inherit !important;
  font-family: inherit !important;
  text-decoration: none !important;
  display: initial !important;
}
*:focus{
  user-select: none;
  outline: none; 
}
*:focus option:focus{
  user-select: none;
  outline: none;  
}

/* Loader */
#nprogress .bar {
  height:2px;
}

#nprogress .bar {
  background: #ffc600;
}

#nprogress .spinner-icon {  
  position: fixed;
  width:30px;
  height:30px;
  left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  border-top-color: #ffc600;
  border-left-color: #ffc600;
}


