.commonFooter {  
  padding: 0;
  color:#fff;
  .footerTop{
    background-color: #07294d;
    font-size: 18px;
    color: #fff;
    padding: 20px 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    flex-direction: row;
    .footerAbout{
      padding-right: 50px;
      margin-top: 40px;
      width: 35%;
      .logo{
        img{
          width:152px;
        }
      }
      p {
        color: #fff;
        padding-top: 15px;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        margin: 0 0 15px 0;
      }
      ul, ol {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin-right: 15px;
          a {
            width: 35px;
            line-height: 35px;
            font-size: 15px;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            background-color: #021d3a;
            transition: all .4s linear;
            display: flex;
            height: 35px;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            &:hover{
              background-color: #ffc600;
              color: #021d3a;   
              transition: all 0.4s linear;
            }
          }
        }
      }
    }
    .footerLink{
      overflow: hidden;
      width:65%;
      margin-top: 40px;
      display: flex;      
      .linkCol{
        margin:0;
        padding:0;
        display: flex;
        flex-direction: column;
        flex: 1;
        .footerTitle{
          padding-bottom: 25px;
          width: 100%;
        }
        .linkWrapper{
          display:flex;
          flex-direction: row;
          ul {
            width: 50%;
            display: flex;
            overflow: hidden;
            margin: 0;
            padding: 0;
            list-style: none;
            flex:1;
            flex-direction: column;
            li {
              line-height: 35px;
              display: flex;
              width: 100%;
              a {
                color: #fff;
                font-size: 15px;
                transition: all .4s linear;
                text-decoration:none;
                i {
                  margin-right: 8px;
                  color: #ffc600;
                  transition: all .4s linear;
                }
                &:hover {
                  color: #ffc600;
                  i{
                    margin-right: 15px;
                  }
                }
              }             
            }
          }
        }
      }
    }
    .footerAddress{
      margin-top: 0;
      .footer-title{
        padding-bottom: 25px;
        h6 {
          font-size: 18px;
          color: #fff;
        }
      }
      ul, ol {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        li {
          position: relative;
          margin-bottom: 10px;
          .icon{
            i {
              font-size: 18px;
              color: #ffc600;
              position: absolute;
              left: 0;
              top: 5px;
            }
          }
          .box{
            padding-left: 35px;
            p {
              color: #fff;
              font-size: 16px;
              font-weight: 400;
              line-height: 28px;
              margin: 0;
            }
          }
        }
      }
    }
  } 
  .footerCopyright{
    background-color: #021d3a;
    font-size: 14px;
    color: #fff;
    font-family: montserrat,sans-serif;
    padding: 20px 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
    display: flex;
  }
}

.backToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  background-color: #ffc600;
  color: #fff;
  font-size: 28px;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
  transition: all .4s linear;
  display: block;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #f0fcff;
    color:#021d3a;
  }
}
.backToTop.ani {
  bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


