.myprofileFooter {  
  padding: 0;
  color:#fff;  
  .footerCopyright{
    background-color: #021d3a;
    font-size: 14px;
    color: #fff;
    font-family: montserrat,sans-serif;
    padding: 20px 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
    display: flex;
  }
}

.backToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  background-color: #ffc600;
  color: #fff;
  font-size: 28px;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
  transition: all .4s linear;
  display: block;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #f0fcff;
    color:#021d3a;
  }
}
.backToTop.ani {
  bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


